/* colors */
.dark-color {
    background-color: #2B3543;
}

.primary-color {
    color: #5FBD73;
}

.secondary-color {
    color: #1C2C8C;
}

.third-color {
    color: #6A5599;
}

.fourth-color {
    color: #71BDD3;
}

.highlight-color {
    color: #71BDD3;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Responsive container with limits on max width*/
@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1400px;
        padding:20px;
    }
}


    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    /*Main Nav Menu*/
    .navbar-dark .navbar-nav .nav-link {
        color: white;
        font-size: 1.4em;
        margin-left: 1.2em;
    }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: #71BDD3;
            text-decoration: underline;
        }

    /*Headers*/
    h1 {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 2em;
        font-style: normal;
        font-variant: normal;
        line-height: 2.1em;
        margin-top: 2em;
    }

    h2 {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 1.6em;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 1.7em;
        margin-top: .5em;
    }

h3 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.4em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.2em;
    color: #737572;
    margin-top: .8em;
}
h4 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #737572;
    margin-top: .8em;
}
/*Buttons*/
.btn-outline-success {
    color: #71BDD3;
    border-color: #71BDD3;
}

.btn-outline-success:hover {
    background-color: #71BDD3;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    background-color: #71BDD3;
}

.btn-success {
    background: rgb(113, 189, 211, .8);
    border: rgb(113, 189, 211);
    color: white;
}
.btn-success:hover {
    background: rgb(113, 189, 211);
    
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    background: rgb(113, 189, 211);
}

/* Filters */
/*Date filters*/
.date-filter {
    font-size: 1.35em;
}

        .date-filter button {
            border: none;
            background: none;
        }

            .date-filter button:hover {
                color: #71BDD3;
                text-decoration: underline;
            }

        .date-filter input {
            width: 75%;
        }

        .date-filter button:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        .date-filter button:focus {
            transform: scale(0.99);
            color: #71BDD3;
            text-decoration: underline;
        }
/*Clinic filters*/
.clinic-filter .filter-name {
    font-size:1.35em;
    margin-top:.4em;     
}
.clinic-filter .span2 {
    font-weight:700;
    font-size:1.05em;
}
    .clinic-filter .span2 span:hover {
        border-bottom: .12rem solid
    }
    .clinic-filter .span2 span:active {
        border-bottom: .12rem solid
    }

@media (max-width: 576px) {
    .clinic-filter .filter-name {
        width: 100%;
    }
}
.graph-filtered-by {
    color: #5FBD73;
    border-bottom: .12rem solid
}

/*Graph Formating on Performance Page*/
.performance-graphs .photos_taken{
     max-height: 400px;
}
.performance-graphs p {
    color: #737572;
    font-size:.85em;
}
.main-border {
    border: rgb(227,227,227);
    border-style: solid;
    border-width: thick;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Favourite*/

    /* Required Styling */
    .favorite-graph input[type="checkbox"] {
        display: none;
    }


    .favorite-graph .favorited {
        color: gold;
    }

    .favorite-graph .not-favorited {
        color: gray;
    }

    .favorite-graph .favorited {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .favorite-graph:hover .favorited {
        opacity: 0.5;
    }

    .favorite-graph input[type="checkbox"]:checked ~ .favorited {
        opacity: 1;
    }