/* colors */
.dark-color {
    background-color: #2B3543;
}

.primary-color {
    color: #5FBD73;
}

.secondary-color {
    color: #1C2C8C;
}

.third-color {
    color: #5F4892;
}

.fourth-color {
    color: #71BDD3;
}

.highlight-color {
    color: #71BDD3;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Responsive container with limits on max width*/
@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1400px;
        padding:20px;
    }
}


    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column */
    .dl-horizontal dt {
        white-space: normal;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        max-width: 280px;
    }

    /*Main Nav Menu*/
    .navbar-dark .navbar-nav .nav-link {
        color: white;
        font-size: 1.4em;
        margin-left: 1.2em;
    }

        .navbar-dark .navbar-nav .nav-link:hover {
            color: #71BDD3;
            text-decoration: underline;
        }

    /*Headers*/
    h1 {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 2em;
        font-style: normal;
        font-variant: normal;
        line-height: 2.1em;
        margin-top: 2em;
    }

    h2 {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 1.6em;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 1.7em;
        margin-top: .5em;
    }

h3 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.4em;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 1.2em;
    color: #737572;
    margin-top: .8em;
}

    /*Buttons*/
    .btn-outline-success {
        color: #71BDD3;
        border-color: #71BDD3;
    }

        .btn-outline-success:hover {
            background-color: #71BDD3;
        }

        .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
            background-color: #71BDD3;
        }

    /* Filters */
    /*Date filters*/
    .date_filter {
        font-size: 1.35em;
    }

        .date_filter button {
            border: none;
            background: none;
        }

            .date_filter button:hover {
                color: #71BDD3;
                text-decoration: underline;
            }

        .date_filter input {
            width: 90%;
        }

        .date_filter button:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }

        .date_filter button:focus {
            transform: scale(0.99);
            color: #71BDD3;
            text-decoration: underline;
        }
/*Clinic filters*/
.clinic_filter .filter-name {
    font-size:1.35em;
    margin-top:.4em;     
}
.clinic_filter .span2 {
    font-weight:700;
    font-size:1.05em;
}
    .clinic_filter .span2 span:hover {
        border-bottom: .12rem solid
    }
    .clinic_filter .span2 span:active {
        border-bottom: .12rem solid
    }

@media (max-width: 576px) {
    .clinic_filter .filter-name {
        width: 100%;
    }
}
.graph_filtered_by {
    color: #5FBD73;
    border-bottom: .12rem solid
}