@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron-fluid" align="left">
    <h1>Log In</h1>


    <h3>Email</h3>
    <input type="text" name="log" id="user_login" class="form-control" value="" size="20">


    <h3>Password</h3>
    <a class="form-sublink" href="https://themes.getbootstrap.com/my-account/lost-password/">Forgot password?</a>
    <input type="password" name="pwd" id="user_pass" class="form-control" value="" size="20">

    <h3>

    </h3>

    <div class="form-group">
        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-large btn-primary" })
    </div>

</div>

