@using WebApplication1.Models;
@model ImpactViewModel
<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

@{
    ViewBag.Title = "Index";
}
<h1>Impact Dashboard</h1>



<div class="row date-filter mt-1">
    <div class="overviewcard__icon ml-3">
        <i class="fa fa-calendar  filter-performance-ic img-valign" aria-hidden="true"></i>
    </div>
    <div class="col-lg-1 col-sm-3 mt-2 calendar-filter active-date-range">
        <button type="button" id="week" onclick="getWeeksDate()"> Week</button>
    </div>
    <div class="col-lg-1 col-sm-3 mr-2 mt-2 calendar-filter">
        <button type="button" id="month" onclick="getMonthsDate()"> Month</button>
    </div>
    <div class="col-lg-1 col-sm-3 mt-2 calendar-filter">
        <button type="button" id="all-date" class="calendar-filter" onclick="getYearsDate()"> All</button>
    </div>
    <div class="col-lg-4 mt-2">
        Date
        <input type="text" id="date-input" name="daterange" value="" />
    </div>
</div>


<div class="row mt-3">
    <div class="col-lg-9">
        <h3> Photos Taken <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
        <div class="row">
            <div class="col-m-12" id="viz-photos-taken-impact"></div>
            @{var myAccountModel = WebApplication1.Backend.AccountBackend.Instance.GetActiveUser();
                if (myAccountModel.isAccountLoggedIn)
                {
                    <div id="favorite-icon">
                        <label for="id-of-input3" class="custom-checkbox favorite-graph" onload="load()">
                            <input type="checkbox" id="id-of-input3" class="favorites" onclick="save()" />
                            <i class="fa fa-star fa-stack-1x favorited"></i>
                            <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                        </label>
                    </div>}
                else { }}
        </div>
    </div>

    <div class="col my-auto">
        <div class="card impact-card">
            <div class="card-body p-3 text-center">
                <div class="text-right primary-color" >
                    <span id="total-photos-perc">6%</span>
                    <i class="fa fa-chevron-up"></i>
                </div>
                <div class="h1 m-0" id="total-photos">43</div>
                <div class="text-muted mb-4">Photos Taken</div>
            </div>
        </div>
        <div class="card impact-card">
            <div class="card-body p-3 text-center">
                <div class="text-right primary-color">
                    <span id="valid-photos-perc">6%</span>
                    <i class="fa fa-chevron-up"></i>
                </div>
                <div class="h1 m-0" id="valid-photos">39</div>
                <div class="text-muted mb-4">Valid Photos</div>
            </div>
        </div>
    </div>
</div>
<h1></h1>
<h1></h1>
<div class="row">
    <div class="col-lg-9">
        <h3> App Usage and Installs <span class="graph-filtered-by date"> from May 19 to May 25th </span></h3>
        <div class="row">
            <div class="col-m-12" id="viz-num-app-installs"></div>
            @{if (myAccountModel.isAccountLoggedIn)
                {
                    <div id="favorite-icon">
                        <label for="id-of-input4" class="custom-checkbox favorite-graph">
                            <input type="checkbox" id="id-of-input4" class="favorites" />
                            <i class="fa fa-star fa-stack-1x favorited"></i>
                            <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                        </label>
                    </div>}
                else { }}
        </div>
    </div>
    <div class="col my-auto">
        <div class="card impact-card">
            <div class="card-body p-3 text-center">
                <div class="text-right primary-color">
                    <span id="active-users-perc">6%</span>
                    <i class="fa fa-chevron-up"></i>
                </div>
                <div class="h1 m-0" id="active-users">9</div>
                <div class="text-muted mb-4">Avg Users per Day</div>
            </div>
        </div>
        <div class="card impact-card">
            <div class="card-body p-3 text-center">
                <div class="text-right primary-color">
                    <span id="new-installs-perc">6%</span>
                    <i class="fa fa-chevron-up"></i>
                </div>
                <div class="h1 m-0" id="new-installs">10</div>
                <div class="text-muted mb-4">Avg Installs per Day</div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function load() {
        var checked = JSON.parse(localStorage.getItem('id-of-input3'));
        console.log(checked);
        document.getElementById("id-of-input3").checked = checked;
    }

    function save() {
        var checkbox = document.getElementById('id-of-input3');
        console.log(checkbox.checked);
        localStorage.setItem('id-of-input3', checkbox.checked);
    }

    //Pull Photos Data on Week
    $("#week").click(
        function () {
            start = moment().subtract(7, 'days');
            end = moment();
            drawVizWithinDateRange(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Pull Photos Data on Month
    $("#month").click(
        function () {
            start = moment().startOf('month');
            end = moment();
            drawVizWithinDateRange(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Pull Photos Data on Month
    $("#all-date").click(
        function () {
            start = moment("4/1/2019");
            end = moment();
            drawVizWithinDateRange(start, end);
            applyButtonStyleDates(this);
        }
    );

    //Draw impact graphs within a date range
    function drawVizWithinDateRange(start, end) {
        //Get data
        dataInDateRange = getDatabyDate(start, end);
        zerofilledData = zeroFillbyDate(dataInDateRange, start, end);
        updateGraphTitlesWithDate(start, end);

        //Remove old graph and add photos taken
        $("#viz-photos-taken-impact").empty();
        drawPhotosValidandInvalidGraph(dataInDateRange, "#viz-photos-taken-impact", start, end);

        //Remove old graph and add new installs
        $("#viz-num-app-installs").empty();
        drawInstallGraph(dataInDateRange, "#viz-num-app-installs");

        //Update summary cards starting with photo count
        setTotalPhotoCardsData(dataInDateRange, start, end);
        setActiveUserCardsData(dataInDateRange, start, end);
        setTotalValidPhotoCardsData(dataInDateRange, start, end);
        setNewInstallsCardsData(dataInDateRange, start, end);
    }


    //Get data by date
    function getDatabyDate(start, end) {
            data = [
            @{
                foreach (var item in Model.UserViewModel.UserList){
                    var outputString = Html.Raw("{ clinic: \"" + item.Clinic + "\", date: \"" + item.Date.ToShortDateString() + "\", value: " + item.Value + ", installs: "+ item.Installs + ", validphotos: " + item.ValidPhotoCount + ", invalidphotos: " + item.PhotoRetakeCount + " },");
                    @outputString
                }
            }
            ],
            start = start,
            end = end,
            currentData = data.filter(d => {
                var date = new moment(d.date);
                return (start <= date && date <= end);
            });
        return currentData;
    };

    //Defualt views
    $("#week").trigger('click');



    //Check if date is in data set
    function containsDateInData(obj, list) {
        var i;
        for (i = 0; i < list.length; i++) {
            if (list[i].date === obj.date) {
                return i;
            }
        }
        return -1;
    }


</script>