
@{
    ViewBag.Title = "Index";
}

<h1>Impact Dashboard</h1>
<div class="row">
    <div class="col">
        Week
    </div>
    <div class="col">
        Month
    </div>
    <div class="col">
        All
    </div>
    <div class="col">
        Date
    </div>
</div>

