
@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")
@Scripts.Render("~/Scripts/calendar.js")

<h1>Impact Dashboard</h1>

<div class="row date-filter mt-3">
    <div class="col-lg-1">
        <button type="button" id="week" onclick="myWeekFunction()"> Week</button>
    </div>
    <div class="col-lg-1 mr-3">
        <button type="button" id="month" onclick="myMonthFunction()"> Month</button>
    </div>
    <div class="col-lg-1">
        <button type="button" id="all-date" onclick="getYearsDate()"> All</button>
    </div>
    <div class="col-lg-4">
        Date
        <input type="text" id="date-input" name="daterange" value="" />
    </div>
</div>


<div class="row mt-3">
    <div class="col">
        <img src="~/Content/img/Improvement.PNG" class="mx-auto d-block img-fluid " />
    </div>
    <div class="col">
        <img src="~/Content/img/AvgInstalls.PNG" class="mx-auto d-block img-fluid " />
    </div>
</div>

<div id="Graph">
    <img src="~/Content/img/WeekofMay.PNG" class="mx-auto d-block img-fluid " />
</div>

<script>
    function myWeekFunction() {
        var x = document.getElementById("Graph");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        //populates the calendar and titles with the date class
        getWeeksDate();
    }

    function myMonthFunction() {
        $("#Graph img").attr("src", "/Content/img/MonthofMay.PNG");
        getMonthsDate();
    }
</script>