@using WebApplication1.Models;
@model List<TotalPhotosTakenModel>

<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>

@{
    ViewBag.Title = "Performance Dashboard";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")
@Scripts.Render("~/Scripts/calendar.js")

<h1>
    Performance Dashboard
</h1>

<div class="row date-filter mt-3">
    <div class="col-lg-1">
        <button type="button" id="week" onclick="getWeeksDate()"> Week</button>
    </div>
    <div class="col-lg-1 mr-3">
        <button type="button" id="month" onclick="getMonthsDate()"> Month</button>
    </div>
    <div class="col-lg-1">
        <button type="button" id="all-date" onclick="getYearsDate()"> All</button>
    </div>
    <div class="col-lg-4">
        Date
        <input type="text" id="date-input" name="daterange" value="" />

    </div>
</div>

<div class="row clinic-filter mt-2">
    <div class="span3 ml-4 mr-2 filter-name">
        <span>Filter by:</span>
    </div>
    <div class="span2 mr-2">
        <img class="img-valign" src="~/Content/img/clinic_Ijowa.png" alt="Ijora" />
        <span class="primary-color">Ijora Clinic</span>
    </div>
    <div class="span2 mr-2">
        <img class="img-valign" src="~/Content/img/clinic_Katsina.png" alt="Katsina" />
        <span class="third-color">Katsina Clinic</span>
    </div>
    <div class="span2 mr-2">
        <img class="img-valign" src="~/Content/img/clinic_Mashegu.png" alt="Mashegu" />
        <span class="fourth-color">Mashegu Clinic</span>
    </div>
    <div class="span2 mr-2">
        <img class="img-valign" src="~/Content/img/clinic_Rawayau.png" alt="Rawayau" />
        <span class="secondary-color">Rawayau Clinic</span>
    </div>
</div>

<div class="row mt-3 performance-graphs">
    <div class="col-lg-8 ml-2">
        <h3> Photos Taken <span class="graph-filtered-by date"> from May 19th to May 25th </span></h3>
        <div id="photos_taken_chart"></div>
    </div>
    <div class="col">
        <h3> Avg Photos Taken <span class="graph-filtered-by"> by Device </span></h3>
        <img class="img-fluid photos_taken" src="~/Content/img/AvgPhotosTakenByDevice_May19to25_All.png" />
        <p class="align-bottom ml-5 pl-4 text-center"> Avg # of Photos <span class="date"> from May 19th to May 25th</span></p>
    </div>
</div>



<script>
    var photosData = [
    @{
        foreach (var item in Model)
        {
            var outputString = Html.Raw("{ clinic: \"" + item.Clinic + "\", Date: \"" + item.Date.ToShortDateString() + "\", value: " + item.Value + "},");
            @outputString
        }
    }
    ],
        start = new Date("05/17/2019"),
        end = new Date("05/23/2019"),
        currentPhotoData = photosData.filter(d => {
            var date = new Date(d.Date);
            console.log(date);
            return (start <= date && date <= end);
        });

    var attributes = [
        { "clinic": "Ijora Clinic", "hex": "#5FBD73" },
        { "clinic": "Katsina Clinic", "hex": "#5F4892" },
        { "clinic": "Mashegu Clinic", "hex": "#71BDD3" },
        { "clinic": "Rawayau Clinic", "hex": "#1C2C8C" }
    ]

    var visualization = d3plus.viz()
        .container("#photos_taken_chart")
        .data(currentPhotoData)
        .type("line")
        .id("clinic")         // key for which our data is unique on
        .text("clinic")       // key to use for display text
        .x("Date")
        .y("value")
        .attrs(attributes)
        .color("hex")
        .height(500)
        .draw()


</script>