
@{
    ViewBag.Title = "Performance Dashboard";
}
@Scripts.Render("~/Scripts/jquery-3.4.1.js")
@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/daterangepicker.js")

<h1>
    Performance Dashboard
</h1>

<div class="row">
    <div class="col">
        <button type="button date_filter" onclick="myWeekFunction()"> Week</button>
    </div>
    <div class="col">
        <button type="button date_filter" onclick="myWeekFunction()"> Month</button>
    </div>
    <div class="col">
        <button type="button date_filter" onclick="myWeekFunction()"> All</button>
    </div>
    <div class="col">
        Date
        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
    </div>
</div>


<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
</script>
