@{
    ViewBag.Title = "About";
}

<div class="sticky-top white-background">
    @*header*@
    <div class="row">
        <div class="col-lg-7">
            <h1>
                Performance Dashboard
            </h1>
        </div>

        <div class="col mr-4 align-self-end">
            <div class="row chart-filters ">
                @*Overview icon*@
                <div class="overviewcard col-lg-5 col-sm-4 ml-2  align-self-end " id="overview-charts">
                    <a href="/Performance">
                        <div class="overviewcard__icon">
                            <i class="fa fa-camera-retro  filter-performance-ic img-valign" aria-hidden="true"></i>
                            <span>Overview</span>
                        </div>
                    </a>
                </div>
                @*Userview icon*@

                <div class="overviewcard col-lg-5 col-sm-4 ml-2 align-self-end active-charts" id="device-charts">
                        <div class="overviewcard__icon">
                            <i class="fa fa-server  filter-performance-ic img-valign" aria-hidden="true"></i>
                            <span>Map view</span>
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>
<h5>Clinics</h5>
<div class="container" id="mapdiv" style="height: 500px;"></div>