@{
    ViewBag.Title = "About";
}
<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>
<script src="https://d3plus.org/js/d3plus-geomap.v0.6.full.min.js"></script>

<h1>Our Clinics</h1>

<script>
    var myClinics = [
        { "name": "Ijora Clinic", "latitude": 6.477803, "longitude": 3.349594, "my_size": 10, color: "#5FBD73", "slug": "i" },
        { "name": "Mashegu Clinic", "latitude": 7.493688, "longitude": 4.552210, "my_size": 8, color: "#71BDD3", "slug": "m" },
        { "name": "Rawayau Clinic", "latitude": 6.528841, "longitude": 5.392641, "my_size": 6, color: "#1C2C8C", "slug": "r" },
        { "name": "Katsina Clinic", "latitude": 7.941969, "longitude": 3.577003, "my_size": 5, color: "#6A5599", "slug": "k" }];

    new d3plus.Geomap()
        .data(myClinics)
        .groupBy("slug")

        .label(function (d) {
            return d.name;
        })
        .point(function (d) {
            return [d.longitude, d.latitude];
        })

        .pointSize(function (d) {
            return d.my_size;
        })

        .shapeConfig({
            fill: function (d) { return d.color; },
        })

        .render();



</script>
