@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-fluid">
    <h1>Main</h1>
    @*<img src="../Content/img/Mumu.jpg" alt="Mumu" style="width:500px;height:600px;">*@
</div>
<div class="row">
    <div class="col" width="100">
        <img src="~/Content/img/DailyPhotosTakenGraph.PNG" width="800" height="250"/>
    </div>
    <div class="col" width="20">
        <img src="~/Content/img/UsersToday.PNG" width="250" height="250"/>
    </div>
</div>

<div class="jumbotron-fluid">
    <h1>More Dashboards</h1>
</div>
<div class="row">
    <div class="col">
        <h2>Impact Dashboard</h2>
        <a href="/ImpactDashboard">
            <img src="~/Content/img/ImpactDashboard.PNG" width="500" height="300" />
        </a>
    </div>
    <div class="col">
        <h2>Performance Dashboard</h2>
        <a href="/Performance">
            <img src="~/Content/img/PerformanceDashboard.PNG" width="500" height="300" />
        </a>
    </div>
</div>