@using WebApplication1.Models
@model HomeViewModel
<!doctype html>
<meta charset="utf-8">

<script src="//d3plus.org/js/d3.js"></script>
<script src="//d3plus.org/js/d3plus.js"></script>
@Scripts.Render("~/Scripts/showGraph.js")

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-fluid">
    <h1>Main</h1>
    @*<img src="../Content/img/Mumu.jpg" alt="Mumu" style="width:500px;height:600px;">*@
</div>

<div class="row">
    <div class="col-8">
        <img src="~/Content/img/PhotosTaken_MainPage.png" class="img-fluid ml-1 border" style="height:200px" />
    </div>

    @{
        var myAccountModel = WebApplication1.Backend.AccountBackend.Instance.GetActiveUser();
        if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input5" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input5" class="favorites"/>
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>
        }
        else
        {

        }
    }

    <div class="col  border" valign="bottom">
        <img src="~/Content/img/UsersToday_MainPage.PNG" class="img-fluid mx-auto d-block " style="height:150px;margin-top:1.5em" />
    </div>

    @{
        if (myAccountModel.isAccountLoggedIn)
        {
            <div class="col-1">
                <label for="id-of-input6" class="custom-checkbox favorite-graph">
                    <input type="checkbox" id="id-of-input6" class="favorites" />
                    <i class="fa fa-star fa-stack-1x favorited"></i>
                    <i class="fa fa-star-o fa-stack-1x not-favorited"></i>
                </label>
            </div>
        }
        else
        {

        }
    }

</div>

<div id="image" style="display:none">
    <img src="~/Content/img/PhotosTaken_MainPage.png" class="img-fluid ml-1 border" style="height:200px" />
</div>

<div id="viz-app-users"></div>


<div class="jumbotron-fluid">
    <h1>More Dashboards</h1>
</div>
<div class="row">
    <div class="col">
        <h2>Impact Dashboard</h2>
        <a href="/ImpactDashboard">
            <img src="~/Content/img/ImpactDashboard.PNG" width="500" height="300" />
        </a>
    </div>
    <div class="col">
        <h2>Performance Dashboard</h2>
        <a href="/Performance">
            <img src="~/Content/img/PerformanceDashboard.PNG" width="500" height="300" />
        </a>
    </div>
</div>

<script>
    window.onload = function load() {
        var checked = JSON.parse(localStorage.getItem('id-of-input1'));
        console.log(checked);
        if (checked) {
            document.getElementById("image").style.display = "block";
        } else {
            document.getElementById("image").style.display = "none";
        }
    }
</script>