@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-fluid">
    <h1>Main</h1>
    @*<img src="../Content/img/Mumu.jpg" alt="Mumu" style="width:500px;height:600px;">*@
</div>
<div class="row">
    <div class="col-lg-8 main-border">
        <img src="~/Content/img/PhotosTaken_MainPage.png" class="img-fluid ml-1"  />
    </div>
    <div class="col-lg-3 main-border ml-4 d-flex flex-wrap align-items-center" >
        <img src="~/Content/img/UsersToday_MainPage.PNG" class="img-fluid center-block" style="max-height: 140px;"/>
    </div>
</div>

<div class="jumbotron-fluid">
    <h1>More Dashboards</h1>
</div>
<div class="row">
    <div class="col">
        <h2>Impact Dashboard</h2>
        <a href="/ImpactDashboard">
            <img src="~/Content/img/ImpactDashboard.PNG" width="500" height="300" />
        </a>
    </div>
    <div class="col">
        <h2>Performance Dashboard</h2>
        <a href="/Performance">
            <img src="~/Content/img/PerformanceDashboard.PNG" width="500" height="300" />
        </a>
    </div>
</div>