
@{
    ViewBag.Title = "Library Dashboard";
}

<h2>Library Dashboard</h2>

<div class="row">

    <!-- Checkboxes to select valid/invalid -->
    <div class="col-md-3">
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" checked>valid
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" checked>invalid
            </label>
        </div>
    </div>


</div>

<!-- Tab menu to select view -->
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#gallery">Gallery View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#list">List View</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="gallery">Gallery view goes here...</div>
        <div class="tab-pane container fade" id="list">List view goes here...</div>
    </div>
</div>