
@{
    ViewBag.Title = "Library Dashboard";
}

<h2>Library Dashboard</h2>

<div class="row">

    <!-- Checkboxes to select valid/invalid -->
    <div class="col-md-1">
        <p>
            <input type="checkbox" aria-label="Checkbox for selecting valid result photos">
            valid
        </p>
    </div>
    <div class="col-md-1">
        <p>
            <input type="checkbox" aria-label="Checkbox for selecting invalid result photos">
            invalid
        </p>
    </div>


</div>

<!-- Tab menu to select view -->
<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#gallery">Gallery View</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#list">List View</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="gallery">Gallery view goes here...</div>
        <div class="tab-pane container fade" id="list">List view goes here...</div>
    </div>
</div>