
@{
    ViewBag.Title = "PhotoDetail";
}

<h1>Library Dashboard<br />
    Photo Details</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/Content/img/Mumu.jpg" alt="Photo result" width="300" class="rounded" />
        </div>
        <div class="col">
            <h2>
                Ijora Clinic
            </h2>
            <h2>
                Photo ID 123-19
            </h2>
            Time: 5/17/2019 5:00 pm UTC<br />
            Phone: 234-815-991-1111<br />
            User ID: 81<br />
            Device: Samsung Buddy<br />
            OS: Android 4.1<br />

        </div>
        <div col="col-2">
            <p>
                <a href="/Library" class="btn btn-outline-info">Back</a><br />
            </p>
            <p>
                <button type="button" class="btn btn-primary">Download</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary">Email link</button>
            </p>
        </div>
    </div>
</div>
