
@{
    ViewBag.Title = "PhotoDetail";
}

<h1>Library Dashboard<br />
    Photo Details</h1>

<button type="button" class="btn btn-outline-info">Back</button>
<button type="button" class="btn btn-primary">Download</button>
<button type="button" class="btn btn-primary">Email link</button>
